@import './fonts.css';
@import './tailwind.css';
@import './theme.css';


/* Hide scrollbar but keep scrolling */

/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE / old Edge */
body {
  -ms-overflow-style: none;
}
